parameters:
  phpstanFunctionalProgramming:
    disallowUnusedExpression: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    level: 8
    paths:
        - src
        - tests
